@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arita", serif;
  font-size: 16px;
}
img {
  border: 0;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "AritaBuriKR";
  font-weight: 600;
}

p {
  font-family: "AritaBuriKR";
  font-weight: 300;
}

/* 해더  */

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
}

.inner {
  width: 1200px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
/* 로고 */
.logo {
}

.logo img {
  height: 60px;
}

/* 메뉴 */
.menu {
  display: flex;
  font-size: 20px;
  list-style: none;
}

.menu a {
  padding: 10px 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu a:hover {
  background-color: rgba(33, 33, 33, 0.2);
  border-radius: 999px;
}

/* 로그인 */
.user {
  display: flex;
}
.user a {
  padding: 10px 10px;
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
}

.user a:hover {
  background-color: rgba(33, 33, 33, 0.2);
  border-radius: 999px;
}

/* swiper */
.swiper {
  top: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #444;
  font-size: 18px;
  text-align: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 120px;
  z-index: 2;
  color: #fff;
  transform: translateY(-50%);
}

.text1 {
  top: 50%;
  left: 100px;
  font-size: 35px;
  text-align: left;
  transform: translateY(-50%);
}

.text1 p {
  font-family: "Pretendard", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  line-height: 150%;
}

.text2 {
  top: 30%;
  right: 120px;
  left: auto;
  font-size: 35px;
  text-align: right;
  transform: translateY(-50%);
}

.text2 p {
  font-family: "Pretendard", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  line-height: 150%;
}

.text3 {
  top: auto;
  bottom: 50px;
  left: 52px;
  font-size: 35px;
  text-align: left;
  transform: none;
}

.text3 p {
  font-family: "Pretendard", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  line-height: 150%;
}

.product {
  width: 100%;
  background-color: #000;
}

.product-inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

/* 이미지 */
.product-image img {
  width: 100%;
  display: block;
}

/* 텍스트 */
.product-text {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

/* 제목 */
.product-text h2 {
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 900;
  color: #e4cfb5;
}

/* 설명 */
.product-text p {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 100;
  line-height: 1.5;
  color: #ccb591;
}

/* 버튼 */
.product-button {
  display: inline-block;
  padding: 16px 28px;
  border: 1px solid #dfcbad;
  font-family: "Pretendard", sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #a99472;
}

.product-button:hover {
  color: #dfcbad;
  transition: 0.6s ease;
}

/* 스토리 */
.story {
  padding: 120px 0;
  background: #1e1e1e;
  color: #fff;
}

.story-inner {
  width: 1200px;
  margin: 0 auto;
}

.story-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}

.story-header h2 {
  font-size: 55px;
}

.story-btn {
  margin-top: 90px;
  padding: 15px 40px;
  border: 1px solid #fff;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
}

.story-btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.6s ease;
}

.story-card-wrap {
  display: flex;
  gap: 80px;
}

.story-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.story-card img {
  width: 100%;
  object-fit: cover;
}

.card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.card-text h3 {
  margin-bottom: 10px;
  font-family: "Pretendard", sans-serif;
  font-size: 41px;
  font-weight: 500;
}

.card-text p {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 100;
  opacity: 0.9;
}

.story-card {
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}

/* 타겟 */
.target {
  padding: 140px 0;
  background: #f5f1e8;
}

.target-inner {
  width: 1200px;
  margin: 0 auto;
}

.target-title {
  margin-bottom: 100px;
  text-align: center;
}

.target-title h2 {
  font-size: 50px;
}

.target-wrap {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(3, 1fr);
}

.target-item {
  text-align: center;
}
.target-left {
  margin-top: 10px;
}
.target-right {
  margin-top: 10px;
}

.target-img img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.target-text h3 {
  margin-bottom: 10px;
  font-family: "Pretendard", sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  letter-spacing: -2px;
}

.target-text p {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  color: #555;
  text-align: left;
  letter-spacing: -1.4px;
}

.process {
  padding: 140px 0;
  background: #f5f1e8;
}
.process-inner {
  width: 1200px;
  margin: 0 auto;
}
.process-title {
  margin-bottom: 63px;
  text-align: center;
}
.process-title h2 {
  font-size: 50px;
}
.process-wrap {
  display: grid;
  justify-items: center;
  gap: 70px 40px;
  grid-template-columns: repeat(3, 1fr);
}
.process-itme {
  text-align: center;
}
.process-img {
  width: 320px;
  height: 320px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 50%;
}
.process-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.process-text p {
  font-size: 25px;
  font-weight: 600;
  color: #222;
  text-align: center;
}

.buy {
  padding-top: 100px;
  overflow: hidden;
  background: #2a2622;
}

.buy-inner {
  position: relative;
  width: 1200px;
  height: 1310px;
  margin: 0 auto;
  text-align: center;
}

.buy-bg {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  opacity: 0.12;
}

.buy-bg img {
  width: 2000px;
  height: auto;
  display: block;
}

.buy-title {
  position: relative;
  z-index: 5;
}

.buy-title h2 {
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 1.3;
  color: #f5f1ea;
}

.buy-title p {
  font-family: "Pretendard", sans-serif;
  font-size: 26px;
  color: #ccb28f;
}

.buy-bottle {
  position: absolute;
  top: 42%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
}

.buy-bottle img {
  width: 360px;
  height: auto;
  display: block;
}

.buy-itme {
  position: relative;
  width: 100%;
  height: 900px;
  margin-top: 120px;
}

.buy-rice,
.buy-nuruk,
.buy-pot {
  position: absolute;
  width: 220px;
  z-index: 3;
  text-align: center;
}

.buy-rice {
  top: 65%;
  left: 25%;
  transform: translateX(-50%);
}

.buy-nuruk {
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

.buy-pot {
  top: 65%;
  left: 75%;
  transform: translateX(-50%);
}

.buy-itme-img {
  height: 140px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 16px;
}

.buy-itme-img img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 140px;
  display: block;
}

.buy-rice p,
.buy-nuruk p,
.buy-pot p {
  font-family: "Pretendard", sans-serif;
  font-size: 30px;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.4;
  color: #f5f1ea;
}

.buy-button-wrap {
  position: absolute;
  bottom: 80px;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
}

.buy-btn {
  min-width: 260px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #1f1a16;
  font-family: "Pretendard", sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #f5f1ea;
  transition: 0.4s ease;
  border-radius: 999px;
}

.buy-btn:hover {
  background: #3a3027;
}

.experience {
  background-color: #111;
}
.experience-wrap {
  display: flex;
}
.experience-card {
  position: relative;
  width: 50%;
  height: 720px;
  display: block;
  overflow: hidden;
}
.experience-img {
  width: 100%;
  height: 100%;
}
.experience-img img {
  display: block;
  overflow: hidden;
  transition: transform 0.4s ease;
}
.experience-overlay {
  position: absolute;
  transition: background 0.4s ease;
  inset: 0;
}
.experience-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.experience-text h3 {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 10px;
  background: rgba(0, 0, 0, 0.28);
  font-family: "Pretendard", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  border-radius: 999px;
}

/* hover */
.experience-card:hover .experience-image img {
  transform: scale(1.05);
}

.experience-card:hover .experience-overlay {
  background: rgba(0, 0, 0, 0.35);
}

.experience-card:hover .experience-text h3 {
  /* background: rgba(0, 0, 0, 0.5); */
  transform: scale(1.03);
}

.footer {
  background-color: #000;
  padding: 50px;
}
.footer-inner {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 80px;
}
.footer-logo {
  flex-shrink: 0;
  padding-top: 18px;
}
.footer-logo img {
  min-width: 290px;
  width: 180px;
  display: block;
}
.footer-info {
  font-family: "Pretendard", sans-serif;
  color: #fff;
}
.footer-top {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 18px;
}
.footer-top span {
  font-size: 25px;
  font-family: "Pretendard", sans-serif;
}
.footer-text p {
  margin-bottom: 8px;
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #fff;
}
.copyright {
  font-family: "Pretendard", sans-serif;
  color: #a7a7a7;
}
